name: Tests

on:
  push:
  pull_request:
    branches:
      - master

jobs:
  test-neko-legacy:
    strategy:
      matrix:
        haxe-version: [4.0.5, 4.1.5]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: krdlab/setup-haxe@v1
      with:
        haxe-version: ${{ matrix.haxe-version }}
    - name: Set up Haxelib dependencies
      run: |
        haxelib install lime 7.8.0 --quiet
        haxelib install openfl 8.9.7 --quiet
        haxelib install actuate --quiet
        haxelib install utest --quiet
        haxelib dev feathersui $GITHUB_WORKSPACE
    - name: Run Tests
      working-directory: test
      run: haxelib run openfl test neko
  test-neko:
    strategy:
      matrix:
        haxe-version: [4.2.5]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: krdlab/setup-haxe@v1
      with:
        haxe-version: ${{ matrix.haxe-version }}
    - name: Set up Haxelib dependencies
      run: |
        haxelib install lime 7.9.0 --quiet
        haxelib install openfl 9.1.0 --quiet
        haxelib install actuate --quiet
        haxelib install utest --quiet
        haxelib dev feathersui $GITHUB_WORKSPACE
    - name: Run Tests
      working-directory: test
      run: haxelib run openfl test neko
      run: haxelib run openfl test neko -Dfeathersui_strict_set_invalid
  test-hashlink:
    strategy:
      matrix:
        haxe-version: [4.2.5]
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - uses: krdlab/setup-haxe@v1
      with:
        haxe-version: ${{ matrix.haxe-version }}
    - name: Set up Haxelib dependencies
      run: |
        haxelib install lime 7.9.0 --quiet
        haxelib install openfl 9.1.0 --quiet
        haxelib install actuate --quiet
        haxelib install utest --quiet
        haxelib dev feathersui $GITHUB_WORKSPACE
    - name: Run Tests
      working-directory: test
      run: haxelib run openfl test hl
  test-html5:
    strategy:
      matrix:
        haxe-version: [4.2.5]
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - uses: krdlab/setup-haxe@v1
      with:
        haxe-version: ${{ matrix.haxe-version }}
    - uses: actions/setup-node@v3
      with:
        node-version: '16'
    - name: Set up Haxelib dependencies
      run: |
        haxelib install lime 7.9.0 --quiet
        haxelib install openfl 9.1.0 --quiet
        haxelib install actuate --quiet
        haxelib install utest --quiet
        haxelib dev feathersui $GITHUB_WORKSPACE
    - name: Set up Node.js dependencies
      working-directory: test
      run: |
        npm ci
    - name: Run Tests
      working-directory: test
      run: |
        haxelib run openfl build html5 -final -Dheadless_html5
        node playwright-runner.js
  test-air:
    strategy:
      matrix:
        haxe-version: [4.2.5]
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - uses: joshtynjala/setup-adobe-air-action@v2
      with:
        air-version: "33.1"
        accept-license: true
    - uses: krdlab/setup-haxe@v1
      with:
        haxe-version: ${{ matrix.haxe-version }}
    - name: Set up Haxelib dependencies
      run: |
        haxelib install lime 7.9.0 --quiet
        haxelib install openfl 9.1.0 --quiet
        haxelib install actuate --quiet
        haxelib install utest --quiet
        haxelib dev feathersui ${{ github.workspace }} 
        haxelib run lime config AIR_SDK ${{ env.AIR_HOME }}
    - name: Run Tests
      working-directory: test
      run: haxelib run openfl test air